<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div align="center">
  <h1>Weather forecast</h1>
  <a th:href="@{/today}">Weather today</a>
  <hr>

  <table>
    <tr>
      <th>Time (iso8601)</th>
      <th>Temperature 2m max (°C)</th>
      <th>Temperature 2m min (°C)</th>
      <th>Precipitation sum (mm)</th>
      <th>Precipitation probability mean (%)</th>
      <th>Wind speed 10m max (km/h)</th>
      <th>UV index max</th>
      <th>Sunrise (iso8601)</th>
      <th>Sunset (iso8601)</th>
    </tr>

    <tr th:each="weather:${weatherDaily}">
      <td th:text="${weather.time}"></td>
      <td>
        <span th:if="${weather.temperature2mMax >= 25.0}" th:text="${weather.temperature2mMax}" style="color: red"></span>
        <span th:if="${weather.temperature2mMax > 0.0 and weather.temperature2mMax < 25.0}" th:text="${weather.temperature2mMax}" style="color: inherit"></span>
        <span th:if="${weather.temperature2mMax <= 0.0}" th:text="${weather.temperature2mMax}" style="color: blue"></span>
      </td>
      <td>
        <span th:if="${weather.temperature2mMin >= 25.0}" th:text="${weather.temperature2mMin}" style="color: red"></span>
        <span th:if="${weather.temperature2mMin > 0.0 and weather.temperature2mMin < 25.0}" th:text="${weather.temperature2mMin}" style="color: inherit"></span>
        <span th:if="${weather.temperature2mMin <= 0.0}" th:text="${weather.temperature2mMin}" style="color: blue"></span>
      </td>
      <td>
        <span th:if="${weather.precipitationSum >= 5.0}" th:text="${weather.precipitationSum}" style="color: red"></span>
        <span th:unless="${weather.precipitationSum >= 5.0}" th:text="${weather.precipitationSum}" style="color: inherit"></span>
      </td>
      <td>
        <span th:if="${weather.precipitationProbabilityMean >= 70}" th:text="${weather.precipitationProbabilityMean}" style="color: red"></span>
        <span th:unless="${weather.precipitationProbabilityMean >= 70}" th:text="${weather.precipitationProbabilityMean}" style="color: inherit"></span>
      </td>
      <td>
        <span th:if="${weather.windSpeed10mMax >= 50.0}" th:text="${weather.windSpeed10mMax}" style="color: red"></span>
        <span th:unless="${weather.windSpeed10mMax >= 50.0}" th:text="${weather.windSpeed10mMax}" style="color: inherit"></span>
      </td>
      <td>
        <span th:if="${weather.uvIndexMax >= 6.0}" th:text="${weather.uvIndexMax}" style="color: red"></span>
        <span th:unless="${weather.uvIndexMax >= 6.0}" th:text="${weather.uvIndexMax}" style="color: inherit"></span>
      </td>
      <td th:text="${weather.sunrise}"></td>
      <td th:text="${weather.sunset}"></td>
    </tr>
  </table>

  <hr>
  <a th:href="@{/today}">Weather today</a>
</div>
</body>
</html>
